
body {
  background-color: #E0E0E0;
  text-align: center;
}
div {
  align-content: center;
}
button {
  align-self: center;

}

li {
  text-align: center;
}
table {
  align-items: center;
}
input {
  align-self: center;
}
